header.header-common
	svg.icon.portfolio_header
		use(xlink:href='../assets/img/sprite.svg#portfolio_header')
	.header-common__socials
		ul.socials__list
			li.socials__item
				a.socials__link(href="https://vk.com" target="_blank") IN
					svg.icon.vk
						use(xlink:href='../assets/img/sprite.svg#vk')
			li.socials__item
				a.socials__link(href="https://githab.com" target="_blank")
					svg.icon.github
						use(xlink:href='../assets/img/sprite.svg#github')
			li.socials__item
				a.socials__link(href="https://www.linkedin.com" target="_blank") VK
					svg.icon.vk
						use(xlink:href='../assets/img/sprite.svg#in')
		.burger-menu
			.burger
	.header-common__info-me
		.header-common__ava
			img(src="../assets/img/foto_ava.jpg").header-common__ava-foto
		.header-common__name Соковиков Денис
		.header-common__descr Личный Сайт Разработчика
	.header-common__svg-background
	.hidden-menu
		ul.header-common__list
			li.header-common__item
				a.header-common__link(href="work.html") Мои работы
			li.header-common__item
				a.header-common__link(href="blog.html") Блог
			li.header-common__item
				a.header-common__link(href="about.html") Обо мне
			li.header-common__item
				a.header-common__link(href="welcome.html") Авторизация